[submodule "lib/ansible/modules/core"]
	path = lib/ansible/modules/core
	url = https://github.com/lberruti/ansible-modules-core.git
	branch = maint1.99
[submodule "lib/ansible/modules/extras"]
	path = lib/ansible/modules/extras
	url = https://github.com/lberruti/ansible-modules-extras.git
	branch = maint1.99
